
<div class="master">


  <h2 class="title">동생들이 형이 좋은 이유 (뭐 대략...)</h2>

  <div class="reason">
    <div class="image">
      <img src="https://icons.iconarchive.com/icons/bad-blood/yolks-2/128/nom-nom-icon.png"/>
    </div>
    <div class="text">
      <h4>한국가면 밥을 잘 사준다.</h4>
    </div>
  </div>

  <div class="reason">
    <div class="image">
      <img src="https://icons.iconarchive.com/icons/bad-blood/yolks-2/128/z-z-z-icon.png" alt="" />
    </div>
    <div class="text">
      <h4>잠도 잘 재워준다.</h4>
    </div>
  </div>

  <div class="reason">
    <div class="image">
      <img src="https://icons.iconarchive.com/icons/bad-blood/yolks-2/128/secret-laugh-icon.png" alt="" />
    </div>
    <div class="text">
      <h4>술도 준다.</h4>
    </div>
  </div>

  <div class="reason">
    <div class="image">
      <img src="https://icons.iconarchive.com/icons/bad-blood/yolks-2/128/psychotic-icon.png" alt="" />
    </div>
    <div class="text">
      <h4>술을 또 준다.</h4>
    </div>
  </div>


  <div class="reason">
    <div class="image">
      <img src="https://icons.iconarchive.com/icons/bad-blood/yolks-2/128/nose-bleed-icon.png" alt="" />
    </div>
    <div class="text">
      <h4>다음날도 또 술을 준다.</h4>
    </div>
  </div>


  <div class="reason">
    <div class="image">
      <img src="https://icons.iconarchive.com/icons/bad-blood/yolks-2/128/X3-icon.png" alt="" />
    </div>
    <div class="text">
      <h4>태준이가 귀엽다.</h4>
    </div>
  </div>

  <div class="reason">
    <div class="image">
      <img src="https://icons.iconarchive.com/icons/bad-blood/yolks-2/128/mah-icon.png" alt="" />
    </div>
    <div class="text">
      <h4>형수님을 잘 만났다.</h4>
    </div>
  </div>

  <div class="reason">
    <div class="image">
      <img src="https://icons.iconarchive.com/icons/bad-blood/yolks-2/128/want-icon.png" alt="" />
    </div>
    <div class="text">
      <h4>태준이가 형수님 덕분에 귀엽다.</h4>
    </div>
  </div>


  <div class="reason">
    <div class="image">
      <img src="https://icons.iconarchive.com/icons/bad-blood/yolks-2/128/yo-icon.png" alt="" />
    </div>
    <div class="text">
      <h4>제일 나이가 많아서 내가 덜 늙어보인다.</h4>
    </div>
  </div>


  <div class="reason">
    <div class="image">
      <img src="https://icons.iconarchive.com/icons/bad-blood/yolks-2/128/bouaaaaah-icon.png" alt="" />
    </div>
    <div class="text">
      <h4>10년 넘게 차이나는 동생들이랑 잘 놀아준다.</h4>
    </div>
  </div>

  <div class="reason">
    <div class="image">
      <img src="https://icons.iconarchive.com/icons/bad-blood/yolks-2/128/shy-icon.png" alt="" />
    </div>
    <div class="text">
      <h4>그게 다다.</h4>
    </div>
  </div>

  <div class="reason">
    <div class="image">
      <img src="https://icons.iconarchive.com/icons/bad-blood/yolks-2/128/burnt-icon.png" alt="" />
    </div>
    <div class="text">
      <h4>진짜다.</h4>
    </div>
  </div>

  <div class="reason">
    <div class="image">
      <img src="https://icons.iconarchive.com/icons/bad-blood/yolks-2/128/oh-u-icon.png" alt="" />
    </div>
    <div class="text">
      <h4>Happy 36th, Big Bro.</h4>
    </div>
  </div>
